*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
/tg_bot/config.py
/tempscript.sh
/tg_bot/config.toml
/tg_bot/modules/mail.py
/tg_bot/misc/
/tg_bot/modules/spotify.py
/.kdev4/
/Temp/
/venv/
/venv2/